.footer {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: rgba(0,0,0,.5);
  text-align: center;
  color:white;
}

#footerSpacer {
	height:5em;
}

.avery-class{
	display:none;
}

.thumbnailImages{
	max-width:90%;
	max-height: 25em;
}

.thumbnailImages2{
	max-width:90%;
	max-height: 25em;
}

.thumbnailImagesMini{
	width:2em;
	height:2em;
}

body {
	color: white;
	background-color:#22313f;
}
canvas {
    background-color: #22313F;
    z-index: -1;
    position: absolute;
}
select {
	color: black;
}

.ads-background{
	border: 1px solid black;
	background-color: rgb(3,220,232);
	border-radius: 30px;
	min-height: 150px;
	min-width: 50px; 
}

.imgContainer img {
	max-height: 15em;
	max-width: 90%;
	margin-bottom:2em;
	border-radius: .5em;
}

#signupSpacer{
	margin-top:5%;
}

#topP{
	margin-top:5em;
}
#singleAdCentering {
	display:flex;
	justify-content:center;
}

.imgContainerShow img {
	max-height: 20em;
	max-width: 25%;
	margin-bottom:2em;
	border-radius: .5em;
	float:left;
}
tDivider1{min-width:60%;float:left;}
tDivider2{padding-top:5em;min-width:40%;}

.imgContainer {
	width:48%;
	margin-left: 1.2;
	margin-right: 1.2%;
	border:1px solid black;
	border-radius: 1em;
	float:left;
	text-align:center;
	background-color:rgba(255,255,255,.15);
	height:21em;
	margin-bottom:1em;
	padding-left: .6em;
	padding-right:.6em;
	display:flex;
	justify-content: center;
}

.imgContainerShow {
	width:80%;
	border:1px solid black;
	border-radius: 1em;
	text-align:center;
	background-color:rgba(255,255,255,.15);
	/*height:40em;*/
	margin-bottom:1em;
	padding-left: .6em;
	padding-right:.6em;
}

#loginContainer {
	margin-top:10%;
}
.categoryButtons {
	background-color:rgba(0,0,0,0);
	color:white;
}

.categoryButtons:hover {
	background-color:rgba(255,255,255,.15);
}

#miscButton{
	margin-bottom: 5em;
}
#entBut {
	margin-top:5em;
}

a:link,a:active,a:visited {
	color:white;
}

a:hover{
	color:yellow;
}

#createAdWrap {
	text-align: center;
}

hr {
	margin-top:0;
	color:black;
	width:70%;
}

h1 {
	text-align: center;
}
#beaker{
	display:none;
}

#logoutButton {
	background-color: #222;
	border: none;
	color: #9d9d9d;
}
#logoutButton:hover {
	background-color: #222;
	border: none;
	color: white;
}

#logoutLi {
	padding-top: 5px;
	background-color: #222;
}

#accountButton {
	border-left:1px solid grey;
}

#githubIconSizer {
	height:2em;
}

span {
	padding-left: 1.5em;
	padding-right: 1.5em;
}